*{
    margin: 0;
    padding: 0;
}

.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    font-family:fantasy;
    color: white;
}

.clock{
    font-size: 5rem;
}


.btn{

    background-color: white;
    color: black;
    padding: 20px;
    width: 200px;
    border: none;
    border-radius: 50px;    
    margin: 30px;
    cursor: pointer;
    font: 550 1.5rem sans-serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.btn:hover{
    background-color: rgb(48, 48, 48);
    color: white;
}



